.main{
    background: aqua;
    width:700px;
    height:700px;
    margin-left:450px;
    margin-top:0px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px rgb(255, 0, 227),-4px -4px 4px 4px rgb(255, 0, 227);   
}
h1{
    color:red;
    font-weight: bold;
    font-size:80px;
    text-shadow: 4px 4px 4px red;
    text-align: center;
}
h2{
    font-weight: bold;
    font-size:40px;
    text-align: center;
}
hr{
    width: 450px;

}#board{
    height: 400px;
    width: 400px;

    background-color:#cdc1b5;
    margin-left:150px;
    display: flex;
    flex-wrap: wrap;
    border: 10px solid brown;
    
}
.tile{
    width: 90px;
    height: 90px;

    border: 5px solid brown;
    font-size: 40px;
    font-weight: bold;
     border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}.x2{
    background:lightpink;
            color:white;

}.x4{
    background:lightyellow;
            color:black;

}.x8{
    background:lightblue;
            color:white;

}.x16 {
    background:lightgreen;
            color:white;
}

.x32 {
    background:violet;
            color:white;
}

.x64 {
    background:rgb(24,45,67);
            color:white;
}

.x128 {
    background:rgb(200,200,34);
            color:white;
}

.x256 {
    background:rgb(50,50,50);
            color:white;
}

.x512 {
    background:rgb(50,100,100);
            color:white;
}

.x1024 {
    background:rgb(100,200,100);
            color:white;
}